html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background-color: #96a2bd;
}
/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */

.scroll
{
  position: fixed;
  bottom: -4px;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */

.horizon
{
  z-index: 1;
  width: 16000px;
}

.middle
{
  z-index: 500;
  width: 16000px;
}

.front
{
  z-index: 900;
  width: 16000px;
}

.headerImage {
    bottom: -4px;
    left: 0;
    width: 100%;
    position: absolute;
}

#video {
    float: left;
    display: inline;
    position: absolute;
    top: -671px;
    left: 4078px;
}

#videoTwo {
    float: left;
    display: inline;
    position: absolute;
    top: -536px;
    left: 9156px;
}

#videoThree {
    float: left;
    display: inline;
    position: absolute;
    top: -542px;
    left: 10802px;
}

#boardNoteOne {
    float: left;
    display: inline;
    position: absolute;
    top: -780px;
    left: 3900px;
}

#boardNoteTwo {
    float: left;
    display: inline;
    position: absolute;
    top: -700px;
    left: 6750px;
}

#deskNoteOne {
    float: left;
    display: inline;
    position: absolute;
    top: -360px;
    left: 8700px;
}

#deskNoteTwo {
    float: left;
    display: inline;
    position: absolute;
    top: -330px;
    left: 11400px;
}

#tag {
    float: left;
    display: inline;
    position: absolute;
    top: -276px;
    left: 13540px;
}

#easterEgg {
    float: left;
    display: inline;
    position: absolute;
    top: -800px;
    left: 5550px;
}

#evidenceBags {
    float: left;
    display: inline;
    position: absolute;
    top: -850px;
    left: 6000px;
}


#businessCard {
    float: left;
    display: inline;
    position: absolute;
    top: -800px;
    left: 7000px;    
}

#Cigarettes {
    float: left;
    display: inline;
    position: absolute;
    top: -360px;
    left: 8100px;   
}

#hobnob {
    float: left;
    display: inline;
    position: absolute;
    top: -280px;
    left: 9730px;   
}

#cup {
    float: left;
    display: inline;
    position: absolute;
    top: -360px;
    left: 6350px;   
}

#calendar {
    float: left;
    display: inline;
    position: absolute;
    width: 800px;
    height: 800px;
    top: -1700px;
    left: 4900px;   
}

#imageDictaphone {
    float: left;
    display: inline;
    position: absolute;
    top: -215px;
    left: 6780px;
}

#imageRadio {
    float: left;
    display: inline;
    position: absolute;
    top: -294px;
    left: 12095px;
}

#imagePhone {
    float: left;
    display: inline;
    position: absolute;
    top: -305px;
    left: 13303px;
}

#suspects {
    float: right;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
}

#git {
    float: right;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    -webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

#git:hover {
    float: right;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    -webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -o-transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    transition: all 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
}